/*header*/
.title {
  display: flex;
  display: row;
  justify-content: center;
}

.randomSearch {
  display: flex;
  display: column;
  justify-content: center;
}

#smiley img {
  margin-top: 2rem;
  height: 4rem;
}


.random {
  margin-top: 2rem;
}

.search {
  display: flex;
  display: column;
  justify-content: center;
}

h2 {
  margin: 20px;
}
