/*header*/
.title {
  display: flex;
  display: row;
  justify-content: center;
}

.randomSearch {
  display: flex;
  display: column;
  justify-content: center;
}


header {
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;
}

.well {
  width: 100%;
  padding: 0, 50px;
  text-align: center;
}

.well img {
  display: block;
  margin: auto;
}

h2 {
  margin: 20px;
}

.images {
    min-width: 300px;
    min-height: 300px;
}

.search {
  display: flex;
  display: column;
  justify-content: center;
}
